.landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: var(--page-padding);
}

.landing>.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  padding-bottom: 7rem;
}

.bans {
  gap: 4rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}

.landing>.quote>p {
  font-family: var(--font-body-bold);
}

.quote {
  text-align: center;
  max-width: 60rem;
  font-family: var(--font-body-bold);
  font-size: 32px;
}

.badgeContainer {
  width: 40rem;
  height: 40rem;
  margin: 0 auto;
}

img.badge {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #bab8c9;
  box-shadow:
    0 0 0 0.5rem var(--color-pink),
    0 0 0 1rem var(--color-red);
}