button,
button:hover,
button:active {
  padding: 0rem 4rem 0.5rem 4rem;
  border-radius: 100vh;
  text-align: center;
  border: 0.4rem solid var(--color-red);
  cursor: pointer;
  margin: 0 auto 0 auto;
  min-width: 20rem;
  background-color: transparent;
}

button:hover,
button:active {
  background-color: var(--color-red);
  border: 0.4rem solid var(--color-red);
}

button:hover>p,
button:active>p {
  color: var(--color-white);
  outline: var(--color-red);
}

button>p {
  color: var(--color-red);
  font-family: var(--font-body-bold);
}