@font-face {
  font-family: "KoHo Bold";
  src: url("./assets/fonts/KoHo-Bold.ttf");
}

@font-face {
  font-family: "KoHo";
  src: url("./assets/fonts/KoHo-Regular.ttf");
}

:root {
  --color-background: #222;
  --color-text: var(--color-white);
  --color-white: #fff;
  --color-red: #fa5555;
  --color-pink: #FF8989;
  --color-pink-secondary: #FFE4E1;
  --font-body: "KoHo";
  --font-body-bold: "KoHo Bold";
  --animation-recording: flickerAnimation 1s infinite;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --color-text: #545454;
    --color-background: #fff;
  }
} */

* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-background);
}

html,
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.2;
  font-size: 8px;
}

body {
  color: var(--color-text);
  font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-body-bold);
  font-weight: 500;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 40px;
  text-shadow: -1px 2px var(--color-pink);
}

h3 {
  font-size: 30px;
  text-shadow: -1px 2px var(--color-pink);
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 26px;
  font-family: var(--font-body);
}

p.bold {
  font-family: var(--font-body-bold);
}

a {
  font-family: var(--font-body-bold);
  color: var(--color-pink-secondary);
  text-decoration-color: var(--color-pink);
  cursor: pointer;
  display: inline-block;
  font-size: 26px;
}

a:hover {
  color: var(--color-pink);
  text-decoration-color: var(--color-pink);
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  padding: 4rem;
  width: 100vw;
  justify-content: center;
}

.content {
  padding-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2rem;
  max-width: 100rem;
  margin: auto;
}

.quote {
  margin: 0 auto;
  text-align: center;
  max-width: 60rem;
  padding-bottom: 10rem;
}

video {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.2;
  z-index: -10;
  filter: blur(0.5rem);
}

quote {
  margin: 0 auto;
  text-align: center;
  max-width: 60rem;
  padding-bottom: 10rem;
}

quote>p {
  font-family: var(--font-body-bold);
  font-size: 32px;
}

h2.reel {
  padding-top: 12rem;
}

h2 {
  padding-top: 3rem;
}

h3 {
  padding-top: 2rem;
}

p.bmw {
  position: relative;
}

p.bmw:after {
  position: absolute;
  content: "";
  left: -15rem;
  opacity: 0.3;
  transform: rotate(15deg);
  top: -8rem;
  z-index: -1;
  width: 40rem;
  height: 40rem;
  background-size: 40rem 40rem;
  background-image: url("../assets/images/bmw-logo.svg");
  background-repeat: none;
}

spacer {
  height: 2rem;
}

img.photo {
  margin: 1rem -4rem;
  aspect-ratio: 4/3;
  height: auto;
  width: calc(100% + 8rem);
  object-fit: cover;
}

img.photo+img.photo {
  margin-top: 0;
}

badgeContainer {
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  margin-top: 5rem;
}

img.badge {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #bab8c9;
  box-shadow:
    0 0 0 0.5rem var(--color-pink),
    0 0 0 1rem var(--color-red);
}